
.preference-form-exp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.exp-margin-top{
    margin-top: 2.5rem;
}

.exp-info-container{
    position: relative;
}

.exp-info{
    position: absolute;
    color: white;
    right: 1rem;
    top: 1rem;
}

.content{
    display: grid;
    width: 100%;
    justify-content: center;
}

.content-center{
    padding: 1.875rem 2.1875rem;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 4px 25px;
}