.radio-card{
    background-color: #113B73;
    border-radius: 1.2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.1;
    height: 5.2rem;
    box-shadow: rgba(0, 35, 81, 0.15) 0px 5px 25px;
    padding: 3rem 0rem;
    /* font-family: 'Poppins'; */
}

.radio-card-content{
    padding: 2rem 2rem;
}

.radio-card-inputs{
    display: flex;
    justify-content: start; 
    gap: 3rem;
    align-items: center;
}

.radio-card-input{
    display: flex;
    align-items: center;
    font-weight: 400;
}

.radio-card-heading{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.radio-card-icon{   
    margin-right: 2.5rem;
}

.btn-label{
    font-size: 1rem;
}

.radio-card-inputs input[type='radio'] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid #fff; /* Border color for unchecked state */
    border-radius: 50%; /* Make the input a circle */
    margin-right: 0.7rem;
}

/* Styling for the radio buttons when checked */
.radio-card-inputs input[type='radio']:checked {
    border: 4px solid #fff; /* Background color when checked */
    /* background-color: #fff; */
}

/* Hide the default radio button */
.radio-card-inputs input[type='radio']::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent; /* Make the inside transparent */
}

@media only screen and (max-width: 576px) {
    .radio-card{
        font-size: 1rem;
        padding: 1rem 0rem;
    }

    .radio-card-content{
        padding: 1rem 1rem;
    }

    .radio-card-inputs{
        gap: 1rem;
    }

    .radio-card-heading{
        font-size: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .radio-card-icon{   
        margin-right: .5rem;
    }

    .btn-label{
        font-size: 0.8rem;
    }

    .radio-card-inputs input[type='radio'] {
        margin-right: 0.3rem;
    }
}