.round-button{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    padding: 0.8rem 0.7rem;
    border-radius: 10rem;
    color: #374151;
    box-shadow: 0.2rem 0.2rem 2rem rgba(243, 244, 246, 1);
}

.round-button-label{
    font-size: 1rem;
}