.upload-doc{
    padding: .9rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 30px;
    border-radius: .625rem;
}

.upload-doc-title{
    font-size: .833rem;
    color: #637381;
    margin-bottom: 1.2rem;
    font-weight: 400;
}

.upload-doc-label{
    color: #8899A8;
    font-weight: 400;
}

.upload-doc-btns{
    display: flex;
    justify-content: start;
    gap: 2rem;
    margin-bottom: 2rem;
}