.upload-card{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 30px;
    padding: 30px;
    display: flex;
    flex-direction: column; 
    gap: 20px;   
    align-items: center;
}

.upload-card-description{
    font-size: 1rem;
    word-wrap: break-word;
}
